<div fxLayoutAlign="center center">
<mat-card fxFlex="20" >
    <mat-card-header>
      
      <mat-card-title>Login </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
        <form class="example-form">
            <mat-form-field >
                <mat-label>Email</mat-label>
                <input matInput placeholder="Input the Login Name" required #name>
                <mat-error > Please enter a valid email address </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput placeholder="Input the Login Name" required #name>
                <mat-error > Please enter a valid email address </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Login</button>
          </form>
     
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
    <p>
    <span [ngStyle]="{'color':'blue'}">Not a member?</span>
      <button mat-button>Register</button>
      <button mat-button>Cancel</button>
    
    </p>    
    </mat-card-actions>
  </mat-card>

</div>
